body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  margin: 1.5rem;
  border-radius: 10px;
  padding: 2.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  max-width: 1000px;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
  align-items: center;
  justify-items: center;
}

.title {
  width: fit-content;
  margin: 0 auto;
}

.image {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  align-self: center;
  margin-bottom: 0;
}

.thinking-emoji {
  font-size: 10rem;
}

.result p {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: .5rem;
  border-radius: 10px;
  margin: .5rem 0;
  animation: fade-in .6s ease-in both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.result label {
  font-size: .9rem;
  color: #333;
  display: block;
  margin: 1rem 0;
}

.result label span {
  font-size: 1.1rem;
  color: #000;
}

.button {
  background: #37fff4;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: .5rem;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
